body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #efecdb;
    background-image: url('images/BG_pattern_transp_3.png'); /* Set your pattern PNG */
    background-size: cover; /* Adjust size (can use 'contain' or specific dimensions too) */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; /* Center the background image */
    font-family: 'Inter', sans-serif;
}

.container {
    text-align: center;
    position: relative;
}

.welcome-message {
    font-family: 'Noto Sans', sans-serif; /* For translations */
}
    
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    color: #8c1837;
    font-weight: 600;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    letter-spacing: -1px;
}

.continue-button {
    font-size: 1.6rem;
    color: #8c1837;
    background-color: #efecdb;
    border: 2px solid #8c1837;
    padding: 20px;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
    cursor: pointer;
    margin-top: 80px; /* Adds space between the message and the button */
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 600px) {
    h1 {
        font-family: 'Inter', sans-serif;
        font-size: 3rem;
    }
    .continue-button {
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        padding: 10px 20px; /* Adjusted padding for better fit on small screens */
        margin-top: 80px; /* Adjusted space for smaller screens */
    }
}
