body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#layer1 {
    background-image: url('Embryo_parallax_BG.jpg');
    z-index: 1;
}

#layer2 {
    background-image: url('Embryo_parallax_MG.png');
    z-index: 2;
}

#layer3 {
    background-image: url('Embryo_parallax_FG.jpg');
    z-index: 3;
}
