body {
    margin: 0;
    height: 200vh; /* Increase the body height to allow scrolling */
    overflow: hidden; /* Prevents default scroll bar */
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.1s; /* Smooth transition */
}

#layer1 {
    background-image: url('Embryo_parallax-BG.jpg');
    z-index: 1;
}

#layer2 {
    background-image: url('Embryo_parallax_MG.png');
    z-index: 2;
    transform: scale(0.3); /* 30% of original size */
    transform-origin: center; /* Center the scaling effect */
}

#layer3 {
    background-image: url('Embryo_parallax_FG.png');
    z-index: 3;
    transform: scale(0.3); /* 30% of original size */
    transform-origin: center; /* Center the scaling effect */
}
